# Set DOMAIN and ACME_EMAIL in deploy/*.env
{
  email {$ACME_EMAIL}
}

{$DOMAIN} {
  encode gzip

  handle_path /opencode* {
    reverse_proxy opencode-web:4096 {
      header_down -X-Frame-Options
      header_down -Content-Security-Policy
    }
    header {
      Content-Security-Policy "frame-ancestors 'self'"
      X-Frame-Options "SAMEORIGIN"
    }
  }

  reverse_proxy app:3000
}
